.img-item {
    max-width: auto;
    height: 250px;
}

.item {
    width: auto;
    height: auto;
}

select{
   margin-top: 0px;
}

.container{
    width: auto;
    height: auto;
}

.loading{
    margin-left: 10px;
}

input[type='radio']:after {
        width: 25px;
        height: 25px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color:white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #0fabe9;
    }

    input[type='radio']:checked:after {
        width: 25px;
        height: 25px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #0fabe9;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    .btn-center{
        width: 50%;
        background-color:#1379c0;
        text-align: center
    }