<form [formGroup]="promotionFormGroup">
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <h5 class="col-md-12 default-text">01. Select Promotion Image</h5>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3" *ngFor="let option of promotions">
                    
                <img src="http://ec2-54-177-249-125.us-west-1.compute.amazonaws.com:81/{{option.image_url}}" class="card-img-top  img-item" alt="...">

                <div class="card-body">
                    <div class="form-check pl-0">        
                        <label class="form-check-label" for="exampleRadios1"> {{option.description}} </label>
        
                        <input  class="form-check-input position-relative float-right" 
                                type="radio" 
                                name="promotion-radio"
                                id="exampleRadinos1" 
                                value="option.image_url" 
                                (click)="seclectedImage(option.image_url, option.description)" 
                                [checked]= "option.pid===1">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <h5 class="col-md-12 default-text">02. Select Car Wash Location</h5>
        </div>

        <div class="row margin-bottom">
            <div class="col-md-3">
                <select (change)="selectChangeHandler($event)" class="form-control" formControlName="location">
                    <option value="" disabled selected>Select location</option>
                    <option *ngFor="let option of locations" [value]="option.location_id">
                        {{option.location_name}}
                    </option>
                </select>
            </div>

            <div class="col-md-9"></div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-success btn-center" (click)="addPromotion()" [disabled]="promotionFormGroup.invalid">Publish</button>
                <div *ngIf="isLoading" class="spinner-border text-primary loading" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </div>

            <div class="col-md-9">

                <div *ngIf="isVisibleSuccess" #alert class="alert alert-success alert-dismissible fade show m-3" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span> 
                    </button>
                    Successfully published!
                </div>
                        
                <div *ngIf="isVisibleError" #alert class="alert alert-danger alert-dismissible fade show m-3" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Please enter all fields!
                </div>
            </div>
        </div>
    </div>
</div>
</form>