<!-- <nav class="nav nav-pills flex-column flex-sm-row"> -->
<!-- <img class="login-image" src="../../assets/images/admin_logo.PNG"> -->
<!-- <a routerLink="/promotions/home" routerLinkActive="active" class="nav-link">Default Promotion</a> -->
<!-- <a routerLink="/promotions/add" routerLinkActive="active" class="nav-link">Create new Promotion</a>     -->
<!-- </nav> -->

<nav class="navbar navbar-expand-sm navbar_rainyday">
  <!-- Brand/logo -->
  <a class="navbar-bran">
    <img src="./assets/images/admin_logo.PNG" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/home" routerLinkActive="active" class="nav-link nav_link_custom">Default Promotion</a>
    </li>
    <li class="nav-item">
      <a routerLink="/add" routerLinkActive="active" class="nav-link nav_link_custom">Create new Promotion</a>
    </li>
    <li class="nav-item">
      <a routerLink="/tasks" routerLinkActive="active" class="nav-link nav_link_custom">Task List</a>
    </li>
    <li class="nav-item">
      <a routerLink="/addtips" routerLinkActive="active" class="nav-link nav_link_custom">Add tips</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    
    <li class="nav-item">
      <img src="./assets/images/profile.png" alt="logo" style="width:40px;">
    </li>

    <li class="nav-item">
      <a class="nav-link">Admin</a>
    </li>

    <li class="nav-item">
      <a class="nav-link pointer" (click)='logOut()' style="color: #007bff;">Logout</a>
    </li>
  </ul>

</nav>