<div class="row" style="margin-top: 10px">
  <div class="col-md-6" >
    <form [formGroup]="tipsFormGroup">
      <div class="row margin-bottom">
        <h5 class="default-text" for="">01. Title</h5>
        <br>
        <input type="text" placeholder="Title" class="form-control" formControlName="title">
      </div>

      <div class="row margin-bottom">
          <h5 class="default-text" for="">02. Tip</h5>
          <textarea class="form-control textarea-default" maxlength="200" placeholder="Description" formControlName="tip" rows="3"></textarea>
      </div>

      <div class="row margin-bottom">
          <button class="btn btn-success btn-center" [disabled]="tipsFormGroup.invalid" (click)="publish()">Publish</button>
      </div>
      </form>
  </div>
  
  <div class="col-md-1"></div>

  <div class="col-md-5" >
     
    <div class="row margin-bottom">

      <div *ngIf="isVisibleSuccess" #alert class="alert alert-success alert-dismissible fade show m-3" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Successfully published!
      </div>

      <div *ngIf="isVisibleError" #alert class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Please enter all fields!
      </div>

    </div>
  </div>

</div>  