.login-image{    
    margin-top: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.top-padding{    
    padding-top: 50px;
}

.btn-center{
    width: 50%;
    background-color:#1379c0;
    text-align: center
}

.custom-image{
    width: 25%;
    height: 25%
}

.container_small{
    background-color: aqua;
}