<div class="container">
<form [formGroup]="loginFormGroup">
  <div class="row">
    <div class="col-md-12">
      <img class="login-image" src="./assets/images/admin_logo.PNG">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mx-auto top-padding">
      <div class="form-group">
        <label class="default-text" for="">Username</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
          <label class="default-text" for="">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div class="text-center">
              <button class="btn btn-success btn-center mt-3" [disabled]="loginFormGroup.invalid"  (click)="login()">Login</button>
            </div>
        </div>

    </div>
  </div>
</form>
</div>
<div *ngIf="isVisible" #alert class="alert alert-danger alert-dismissible fade show m-3" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  The username or password you entered is incorrect!</div>