<div class="row">
  <ngb-tabset style="margin-top: 10px; width: 100% !important;">
    
    <ngb-tab>
      <ng-template ngbTabTitle>
          <div (click)="clickTab('pending')">Pending</div>
      </ng-template>
      <ng-template ngbTabContent>

        <div class="row">

          <div class="col-ms-6 col-md-3"  style="margin-top: 5px;"  *ngFor="let item of tasks">
            <div class="card pointer" (click)="openTask(item)">
              <div class="card-body">
                <h5 class="card-title" style="margin-bottom: 5px;">{{item.reference_no}}</h5>
                <p class="card-text" style="color: #bfbfbf; font-size: 14px;">{{item.date | date:'MMM dd, yyyy, HH:mm:ss a'}}</p>
              </div>
            </div>
          </div>

        </div>

        <div class="row" *ngIf="taskCount == 0">
          <p style="text-align: center; width: 100%; color: red; margin-top: 20px;">No Scheduls</p>
        </div>
      
      </ng-template>
    </ngb-tab>
    
    <ngb-tab >
        <ng-template ngbTabTitle>
            <div (click)="clickTab('accept')">Accept</div>
        </ng-template>
        <ng-template ngbTabContent>

            <div class="row">
    
              <div class="col-ms-6 col-md-3"  style="margin-top: 5px;"  *ngFor="let item of tasks">
                <div class="card pointer" (click)="openTask(item)">
                  <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 5px;">{{item.reference_no}}</h5>
                <p class="card-text" style="color: #bfbfbf; font-size: 14px;">{{item.date | date:'MMM dd, yyyy, HH:mm:ss a'}}</p>
                  </div>
                </div>
              </div>
    
            </div>

            <div class="row" *ngIf="taskCount == 0">
              <p style="text-align: center; width: 100%; color: red; margin-top: 20px;">No Scheduls</p>
            </div>
          
          </ng-template>
    </ngb-tab>
      
    <ngb-tab>
        <ng-template ngbTabTitle>
            <div (click)="clickTab('done')">Done</div>
        </ng-template>
        <ng-template ngbTabContent>

          <div class="row">
            <div class="col-ms-6 col-md-3"  style="margin-top: 5px;"  *ngFor="let item of tasks">
              <div class="card pointer" (click)="openTask(item)">
                <div class="card-body">
                  <h5 class="card-title" style="margin-bottom: 5px;">{{item.reference_no}}</h5>
                <p class="card-text" style="color: #bfbfbf; font-size: 14px;">{{item.date | date:'MMM dd, yyyy, HH:mm:ss a'}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="taskCount == 0">
            <p style="text-align: center; width: 100%; color: red; margin-top: 20px;">No Scheduls</p>
          </div>

          </ng-template>
    </ngb-tab>
        
    <ngb-tab>
        <ng-template ngbTabTitle>
            <div (click)="clickTab('reject')">Reject</div>
        </ng-template>
        <ng-template ngbTabContent>

            <div class="row">
    
              <div class="col-ms-6 col-md-3"  style="margin-top: 5px;"  *ngFor="let item of tasks">
                <div class="card pointer" (click)="openTask(item)">
                  <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 5px;">{{item.reference_no}}</h5>
                <p class="card-text" style="color: #bfbfbf; font-size: 14px;">{{item.date | date:'MMM dd, yyyy, HH:mm:ss a'}}</p>
                  </div>
                </div>
              </div>
    
            </div>

            <div class="row" *ngIf="taskCount == 0">
              <p style="text-align: center; width: 100%; color: red; margin-top: 20px;">No Scheduls</p>
            </div>
          
          </ng-template>
    </ngb-tab>

  </ngb-tabset>
  </div>






<!-- model popup s -------------------------------------------------------------------------------------------- -->

<ng-template #editModal let-modal>

  <div class="modal-header">
      <h5>{{openedTask.name}} ( {{openedTask.phone_number}} )</h5>
    <br>
      <em>{{openedTask.reference_no}}</em>
  </div>

  <div class="modal-body">
    <div class="col-md-12">   
      <div class="row">
        <label class="col-12" style="color: #bfbfbf; font-size: 14px; margin-bottom: 0px;"> Address </label>
        <p class="col-12">{{openedTask.address}}</p>
      </div>

      <div class="row">
          <label class="col-12" style="color: #bfbfbf; font-size: 14px; margin-bottom: 0px;"> Location  </label>
          <p class="col-12">{{openedTask.location_name}}</p>
      </div>

      <div class="row">
        <label class="col-12" style="color: #bfbfbf; font-size: 14px; margin-bottom: 0px;"> Email  </label>
        <p class="col-12">{{openedTask.email}}</p>
      </div>

      <div class="row">
          <label class="col-12" style="color: #bfbfbf; font-size: 14px; margin-bottom: 0px;"> Task  </label>
          <p class="col-12">{{openedTask.date | date:'MMM dd, yyyy, HH:mm:ss a'}}</p>
      </div>
      
      

      <div class="row achievements-wrapper">
        <table class="table table-hover">
          
          <thead>
            <tr>
              <th scope="col" style="max-width: 100px;">Subject</th>
              <th scope="col" >Message</th>
            </tr>
          </thead>

          <tbody>
            
            <tr *ngFor="let item of openedTask.tasks">
              <td style="max-width: 100px;">{{item.subject}}</td>
              <td >{{item.message}}</td>
            </tr>

            <tr *ngIf="subTaskCount == 0">
              <td colspan="2" style="text-align:  center; color: red;">No more task</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer" *ngIf="tabStatus == 'pending'">
      <button type="button" class="btn btn-primary" (click)="taskUpdate(openedTask.schedule_id, 'accept')">Accept</button>
      <button type="button" class="btn btn-danger" (click)="taskUpdate(openedTask.schedule_id, 'reject')">Reject</button>
  </div>
      
  <div class="modal-footer" *ngIf="tabStatus == 'accept'">
      <button type="button" class="btn btn-success" (click)="taskUpdate(openedTask.schedule_id, 'done')">Done</button>
  </div>
</ng-template>












