/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.default-text{
    color: #223d6b;
}

.margin-bottom {
    margin-bottom: 15px;
}
.pointer {
    cursor: pointer;
}

.achievements-wrapper { 
    height: 150px; 
    overflow: auto; 
}