.img-item {
    max-width: 100%;
    height: auto;
    margin-top: 20px
}

.item {
    width: auto;
    height: 120px;
}

.btn-center{
    width: 50%;
    background-color:#1379c0;
    text-align: center
}

.loading{
    margin-left: 10px;
}

.preview{
    width: 50%;
    height: 50%;
}

.custom-input{
    color: #1379c0;
}

#hide input[type=file] {
    display:none;
    margin:10px;
    }
    #hide input[type=file] + label {
    display:inline-block;
    margin:20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border:solid 1px #666F77;
    border-radius: 6px;
    color:#666F77;
    }
    #hide input[type=file]:active + label {
    background-image: none;
    background-color:#2D6C7A;
    color:#FFFFFF;
    }

    .textarea-default{
        height: 50%;
        resize: none;
    }