<div class="row" style="margin-top: 10px">
  <div class="col-md-6" >
    <form [formGroup]="promotionFormGroup">
      <div class="row margin-bottom">
        <h5 class="col-md-12 default-text" style="padding: 0" >01. Select Promotion Image</h5>
        <br>
        <input #imageInput type="file" accept="image/*" (change)="processFile($event)" formControlName="promoimage">
      </div>

      <div class="row margin-bottom">
        <h5 class="default-text" for="">02. Title</h5>
        <br>
        <input type="text" placeholder="Title" class="form-control" formControlName="title">
      </div>

      <div class="row margin-bottom">
          <h5 class="default-text" for="">03. Description</h5>
          <textarea class="form-control textarea-default" maxlength="200" placeholder="Description" formControlName="description" rows="3"></textarea>
      </div>

      <div class="row margin-bottom">
          <h5 class="default-text" for="">04. Discount (%)</h5>
          <input type="number" placeholder="value between 0%-100%" min="0" max="100" class="form-control"
            formControlName="discount">
      </div>

      <div class="row margin-bottom">
          <h5 class="default-text" for="">05. Select Car Wash Location</h5> <br>
          <select formControlName="location" class="form-control">
            <option value="" disabled selected>Select location</option>
            <option *ngFor="let option of locations" [value]="option.location_id">
              {{option.location_name}}
            </option>
          </select>
      </div>

      <div class="row margin-bottom">
          <button class="btn btn-success btn-center" [disabled]="promotionFormGroup.invalid" (click)="publish()">Publish</button>
          <div *ngIf="isLoading" class="spinner-border text-primary loading" role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
    </form>
  </div>
  
  <div class="col-md-1"></div>

  <div class="col-md-5" >

    <div class="row margin-bottom">
      <img *ngIf="url" [src]="url" class="preview">
    </div>
      
    <div class="row margin-bottom">

      <div *ngIf="isVisibleSuccess" #alert class="alert alert-success alert-dismissible fade show m-3" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Successfully published!
      </div>

      <div *ngIf="isVisibleError" #alert class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        Please enter all fields!
      </div>
    </div>
  </div>

</div>  